<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501738390278-dqlcbpcmnvmegbpjmarjig73v5m6u1bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501738390278-dqlcbpcmnvmegbpjmarjig73v5m6u1bj</string>
	<key>API_KEY</key>
	<string>AIzaSyA8tAJrjty7HisXrQbAkno4SQe5FLtwQEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>501738390278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.munti.Simlan</string>
	<key>PROJECT_ID</key>
	<string>simlan-app-3f788</string>
	<key>STORAGE_BUCKET</key>
	<string>simlan-app-3f788.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501738390278:ios:094e10ba3ed6eacb5b5487</string>
	<key>DATABASE_URL</key>
	<string>https://simlan-app-3f788.firebaseio.com</string>
</dict>
</plist>